<div class="row hero logo">
 <%= image_tag("key-logo-horiz.png", :class => "logo", :alt => "key-logo-horiz") %>
  <h3>This is your Auth Token Key.</h3>
  <h5>There are many like it but this one is yours.</h5>
</div>
<div class="row token-key">
  <h2 class="col-3 key-code"><%= @user.auth_token %></h2>
  <div class="col-3 push-right-5 key-toggle">
    <a href="/users/regenerate" class="btn primary">Regenerate Key</a>
    <a href="/users/disable" class="btn secondary">Turn Off</a>
  </div>
</div>
 <div class="row help">If you feel your key has been compromised, click regenerate to delete your current key and populate a new one.</div>

