<div class="hero">
  <%= image_tag("checkmark-logo.png", :class => "logo", :alt => "checkmark-logo") %>
  <h1>Blocca.do</h1>
  <h3>What are you going to-do today?</h3>
  <h5>The world's most powerful API for managing to-do lists.</h5>
  <ul class="button-bar">
    <li><a href="#" class="btn primary">Get Started</a></li>
    <li><a href="#" class="btn secondary">API Docs</a></li>
  </ul>
</div>
<div class="sign-up">
  <div class="intro">
    <h1>4,487 apps blocca.do-it.</h1>
    <h3>As of last week, 87,640,731,001 to-dos were blocca.do-ne.</h3>
    <h5>No credit card required. Just fill out the form below and you're in!</h5>
  </div>
  <div class="row">
    <div class="col-2">
      <%= image_tag("phone.png", :class=>"phone", :alt => "checkmark-logo") %>
    </div>
    <div class="col-4">
      <form>
        <div class="form-group top">
          <label>Your full name</label>
          <input type="text" placeholder="George Washington"/>
        </div>
        <div class="form-group">
          <label>Your email address</label>
          <input type="text"/>
        </div>
        <div class="form-group">
          <label>Enter a password</label>
          <input type="text" placeholder="Must be at least 7 characters"/>
        </div>
        <div class="form-group">
          <label>Confirm your password</label>
          <input type="text"/>
        </div>
        <div class="form-actions">
          <input type="submit" class="btn btn-wide thirdy" value="Sign me up and get me my key">
          <small class="note">By submitting your information you are agreeing to our Terms & Conditions.</small>
        </div>
      </form>
    </div>
  </div>
</div>

