/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased !important;
}
/* HTML5 display-role reset for older browsers */
div, article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End CSS Reset */

/* Fonts for site */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

* {
  box-sizing: border-box;

}

/* Set up a grid system to use */
.container {
  width: 100%;
  background-color: #F5F0E9;

}
.row {
  margin: 0 auto;
  max-width: 960px;
}
.row:before, 
.row:after {
  content:"";
  display: table ;
  clear:both;
}
[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 16.66%;
  padding: 12px; 

}
.col-1{
  width: 16.66%; 
}
.col-2{
  width: 33.33%; 
}
.col-3{
  width: 50%; 
}
.col-4{
  width: 66.664%;
}
.col-5{
  width: 83.33%;
}
.col-6{
  width: 100%;
}
.outline, .outline *{
    outline: 1px solid #F6A1A1; 
}
[class*='col-'] > p {
 background-color: #FFC2C2; 
 padding: 0;
 margin: 0;
 text-align: center; 
 color: white; 
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 9pt/1.5em;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  -font-smoothing: antialiased;
}
body {
  /*background: #F5F0E9;*/
  background-color: #474747
}
a {
  text-decoration: none;
  color: #333;
}
label {
  display: block;
  padding-bottom: 4px;
  padding-left: 4px;
}
input {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -1px;
}
input[type='text'], input[type='email'], input[type='password'] {
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #979797;
  border-radius: 6px;
  padding: 8px 10px 10px;
  font-size: 14pt;
}
input[type="submit"] {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  letter-spacing: -.8px;
  height: 60px;
}
form {
  padding-top: 35px;
}
.form-group {
  padding: 10px 0;
}
.top {
  padding-top: 0;
}
.form-actions {
  padding-top: 20px;
}
.note {
  display: block;
  padding-top: 5px;
  text-align: center;
  font-size: .8em;
  color: #444;
}
.header {
  padding: 20px 40px;
  background-color: #F5F0E9;
}
.clear {
  clear: both;
}
.header ul li {
  display: inline;
}
.header > .container {
  margin: 0 auto;
}
.user-info, .today {
  padding-top: 16px;
}
.site-nav {
  padding-top: 16px;
  padding-left: 24px;
  text-transform: uppercase;
}
.site-nav li {
  padding-left: 10px;
}
.site-nav li a {
  padding: 10px 15px;
  font-weight: normal;
}
.site-nav a:hover, .site-nav a.active {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  background-color: #222;
  color: #FFF;
}
.right {
  position: relative;
  float: right;
}
.left {
  position: relative;
  float: left;
}
.hero {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  background-color: #F5F0E9;
}
.hero > .logo {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.hero > h1 {
  font-weight: 800;
  font-size: 4.4em;
  letter-spacing: -4.2px;
}
.hero > h2 {
  font-size: 3.4em;
  font-weight: 800;
  letter-spacing: -3.2px;
}
.hero > h3 {
  font-size: 2.2em;
  font-weight: 300;
  color: #4A4A4A;
  letter-spacing: -1px;
  line-height: 1.4;
}
.hero > h5 {
  font-size: 1.2em;
  line-height: 2;
  color: #4A4A4A;
}
.hero > .button-bar {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin: 0 auto;
}
.hero > .button-bar li {
  display: inline-table;
  padding: 0 10px
}
.hero > .sign-in {
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 480px;
  margin: 0 auto;
  letter-spacing: -0.8px;
  text-align: left;
}
.hero > .sign-in > form {
  padding-top: 0
}
.forgot {
  max-width: 480px;
  margin: 0 auto;
  text-align: left;
}
.forgot-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
}
.alert {
  margin: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.alert-warning {
  background-color: #870000;
  color: #FFFFFF;
}
.alert-success {
  background-color: #B7B47C;
  color: #333;
}
.btn {
  display: block;
  border: 3px solid #000000;
  box-shadow: inset 0px -3px 0px 0px #FFFFFF;
  border-radius: 6px;
  color: #000000;
  width: 190px;
  height: 50px;
  line-height: 2.9;
  font-weight: bold;
  text-align: center;
}
.btn-wide {
  width: 100% !important;
}
.primary {
  background: #FF6F54;
}
.primary:hover {
  background-color: #F2644A;
  color: #FFF;
  box-shadow: inset 0px 0px 0px 0px #FFFFFF;
}
.secondary {
  background-color: #9FD2E5;
}
.secondary:hover {
  background-color: #8FC2D5;
  color: #FFF;
  box-shadow: inset 0px 0px 0px 0px #FFFFFF;
}
.thirdy{
  background-color: #B7B47C;
}
.thirdy:hover {
  background-color: #A9A670;
  color: #FFF;
  box-shadow: inset 0px 0px 0px 0px #FFFFFF;
}
.sign-up {
  background-color: #FFF;
  letter-spacing: -0.8px;
  padding-bottom: 60px;
}
.sign-up > .intro {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0 30px;
}
.sign-up > .intro h1 {
  font-weight: 300;
  font-size: 3em;
  color: #4A4A4A;
}
.sign-up > .intro h3 {
  font-size: 1.5em;
  line-height: 3;
}
.phone {
  padding-top: 30px;
  padding-right: 40px;
  display: block;
  margin: 0 auto;
}
.footer {
  min-height: 400px;
  background-color: #474747;
  color: #FFF;
  text-align: center;
}
.copyright {
  padding: 80px 0;
}
.counter {
  font-size: 3em;
  text-align: center;
  font-weight: 300;
  padding-top: 80px;
}
.legal {
  font-size: .8em;
}
.hint {
  display: block;
  font-size: .8em;
  padding-top: 4px;
  padding-left: 4px;
  color: #777;
}
.error {
  display: block;
  padding-top: 8px;
  padding-left: 4px;
  color: #870000;
}
.field_with_errors > input  {
  border: 2px solid #870000;;
}

.error_notification {
  border: 2px solid #000;
  background-color: #870000;
  color: #FFF;
  margin-bottom: 20px;
  padding: 20px;
  font-weight: bold;
}
.error {
  text-transform: capitalize;
}
.checkbox {
  position: relative;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.2;
}
.user_remember_me {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  color: #333;
  cursor: pointer;
}
.checkbox input[type=checkbox] {
  position: absolute;
  margin-left: -18px;
}
.close {
  display: none;
}
.well {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 8px;
  padding: 10px;
  max-width: 900px;
}
.deactive {
  color: #870000;
}
.key-code {
  padding-top: 22px;
  font-weight: 100;
  font-size: 2em;
  text-align: left;
  font-family: 'Lato', sans-serif;
}
.key-toggle {
  padding-top: 15px;
}
.key-toggle a {
  display: inline-table;
  /*padding: 10px 10px;*/
  margin-left: 5px;
}
.last {
  padding: 20px 0;
}
.push-right-5 {
  padding-left: 3%;
}
.push-right-10 {
  padding-left: 10%;
}
.push-right-20 {
  padding-left: 20%;
}
.help {
  text-align: center;
  padding: 10px 0 40px 0;
}
@media all and (max-width:800px){
    .col-1{ width: 33.33%;  }
    .col-2{ width: 100%;    }
    .col-3{ width: 83.33%;  }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }

    .row .col-2:last-of-type{
        width: 100%; 
    }

    .row .col-5 ~ .col-1{
        width: 100%; 
    }

    .hero > .button-bar li {
      margin: 10px 0;
    }

    .sign-up > .intro h3 {
      line-height: 1.6;
    }

    .phone {
      padding-right: 0;
    }

    .hero > .sign-in {
      padding-left: 10px;
      padding-right: 10px;
    }
}